body{
    margin: 0;
}
#container2{
    font-size: 2rem;
    font-weight: 700;
    padding: 20px 50px;
    margin: 100px auto;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #9BC1BC;
    color: #0E131F;  
}
button{
    font-size: 1.55rem;
    background-color: #BDA0BC;
    outline: none;
    border: none;
    border-radius: 10px;
    margin: 20px 0;
    padding: 20px ;
    color:#EBF2FA;
    cursor: pointer;
}
#catimages{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 60px;
}
#catimages img{
    height: 300px;
    width: 400px;
    border-radius: 7px;
    box-shadow: 0px 4px 18px 3px #BDA0BC;
}